{% include 'partials/header' %}

{# NAVIGATION #}
{% include 'partials/nav' %}
{% include 'mobile/navM' %}

{# Search controller here #}
{% include 'jobs/controller/search' %}





{# NEEDS TO BE REFACTORED #}
{% block main %}

{# Set variables for each possible param: #}
{% set state = craft.app.request.getParam('state') %}
{% set city = craft.app.request.getParam('city') %}

{# Here we set the criteria and combine all the parameter variables #}
{% set criteria = {} %}

{% if state is defined and state is not empty %}
{% set criteria = criteria|merge({
    jobAddress:{
        filter: {
            state: state
        }
    }
}) %}
{% endif %}

{% if city is defined and city is not empty %}
{% set criteria = criteria|merge({
    jobAddress:{
        filter: {
            city: city
        }
    }
}) %}
{% endif %}



{# We build the map location based on criteria #}
{% set mapQuery = craft.entries(criteria) %}
{% if mapQuery|length > 0 %}

{# <div class="container-fluid" id="map">
        <div class="row bg-secondary">
            <div class="col-sm-12 p-0">
                {% set locations = mapQuery %}
                {% set options = {     
                    height:400,
                    zoom: 5,
                    'markerInfo': 'jobs/searchjobs/infoBubble',
                markerOptions: {
                    icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
                        }
                } %}
                {{ craft.smartMap.map(locations, options) }}

            </div>
        </div>
    </div> #}

{% endif %}

{# Set up pagination, and let it grab the current page's results: #}
{# Here we limit the cards by ever 6 entries but the map shows all jobs in searcg criteria #}
{% set newQuery = craft.entries(criteria).section('jobListings').limit(5)%}

{% paginate newQuery as pageInfo, results %}

{# CONDITIONAL IF THERE ARE RESULTS #}
{% if results %}

{# DISPLAY Search Results #}
<div class="container-fluid pt-5 pb-1 jobs-index" id="searchResults">
    <h1 class="text-center display-4 pb-5">Your Job Matches</h1>
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
            {% for result in results %}
            {% set singleJobParams =  result.jobAddress %}

            <div class="jobResultBrief">
                <h1 class="briefResultTitle">{{result.title}}</h1>
                <p><strong>Boyd Bros:</strong> {{result.city}}</p>
                <p><strong>Truck Type:</strong> {{result.truckType}}</p>
                <p><strong>Job Type:</strong> {{result.truckType}}</p>
                <p><strong>City:</strong> {{result.jobAddress.city}}</p>
                <p><strong>State:</strong> {{result.jobAddress.state}}</p>
                <a class="btn" href="/jobs/{{result.slug}}"><i class="fas fa-arrow-right"></i> Get more details</a>
                <div class="bottomResultBrief">
                    <div class="briefResultLeft">
                        <p>Posted: {{result.postDate | date("M d, Y") }} </p>
                        <p>Job ID: {{result.id}}</p>
                    </div>
                    <div class="briefResultRight">
                        <ul class="socialListingResult">
                            <li><a class="noBG" href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a class="noBG" href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a class="noBG" href="#"><i class="fas fa-sms"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>



    {# PAGINATION #}
    <div class="container">
        {{ craft.pagination.render(pageInfo, 'ellipsis', {
            ulClass: 'pagination text-center',
            liClass: 'page-item',
            aClass: 'page-link',
            activeClass: 'active',
            includeFirstLast: true,
            includePrevNext: true,
            prevText: '<i class="fa fa-angle-double-left" aria-hidden="true"></i> Prev',
            nextText: 'Next <i class="fa fa-angle-double-right" aria-hidden="true"></i>',
            pageRange: 1
        }) }}
    </div>
</div>


{% else %}
{# SITE CONTENT CLASS IS A UTILITLY CLASS #}
<div class="search-again conatiner-fluid pt-0 pb-5 utility-site-content">
    <div class="container-fluid p-0" id="search-again-image">
    </div>
    <h3 class="text-center mt-5">Didn't find what you're looking for?</h3>
    <a class="btn btn-lg btn-success search-again-btn" href="/jobs">Search Again</a>
</div>



{% endif %}
{% endblock %}
</div>
</div>
</div>





{# bottom #}
{% include 'partials/bottom' %}
{% include 'mobile/bottomM' %}

{% include 'partials/footer' %}