{% include 'partials/header' %}

{# NAVIGATION #}
{% include 'partials/nav' %}
{% include 'mobile/navM' %}


{% set form = craft.freeform.form("form") %}


{# RENDER FORM #}
{{ form.renderTag({
    returnUrl: "/thankyou",
    class:"utility-site-content"
    }) }}

	{% if form.hasErrors %}
		<div class="freeform-form-has-errors">
			{{ "There was an error submitting this form"|t }}
			{% if form.errors|length %}
				<ul>
					{% for error in form.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}


{# SELECT FORM ELEMENTS INTO VARIABLES #}
{% set firstName = form.get("firstName") %}
{% set lastName = form.get("lastName") %}
{% set cellPhone = form.get('cellPhone') %}
{% set email = form.get('email') %}
{% set city = form.get('city') %}
{% set state = form.get('state') %}
{% set cdla = form.get('cdla') %}
{% set cdlaYears = form.get('cdlaYears') %}
{% set driveRecord = form.get('driveRecord') %}
{% set terminal = form.get('terminal') %}
{% set consent = form.get('consent') %}

{# PAGE1 #}
{% if form.currentPage.index == 0 %} 
    <div class="blue-form form-style utility-site-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 pt-5 pb-5">

            {# PROGRESS BAR #}
            <div class="form-group text-center">
                <ul class="progress-indicator">
                    <li class="active">
                        <span class="bubble"></span>
                        <span class="li-text">Step 1. <br><small>(complete)</small></span>
                    </li>
                    <li class="">
                        <span class="bubble"></span>
                        <span class="li-text">Step 2.</span>
                    </li>
                    <li class="">
                        <span class="bubble"></span>
                        <span class="li-text">Step 3.</span>
                    </li>
                    <li>
                        <span class="bubble"></span>
                        <span class="li-text">Step 4.</span>
                    </li>           
                </ul>   
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-6">
    <div class="form-group">
    {{ form.get('37zaG92gw').render }}
    </div>

    <div class="form-group">
	<label>{{ firstName.label }}</label>
	<input class="form-control" name="{{ firstName.handle }}" value="{{ firstName.value }}" />
	{{ firstName.renderErrors() }}
    </div>

    <div class="form-group">
	<label>{{ lastName.label }}</label>
	<input class="form-control" name="{{ lastName.handle }}" value="{{ lastName.value }}" />
	{{ lastName.renderErrors() }}
    </div>

     <div class="form-group">
    <label>{{ cellPhone.label }}</label>
	<input class="form-control" name="{{ cellPhone.handle }}" value="{{ cellPhone.value }}" />
	{{ cellPhone.renderErrors() }}
    </div>

     <div class="form-group">
    <label>{{ email.label }}</label>
	<input type="email" class="form-control" name="{{ email.handle }}" />
	{{ email.renderErrors() }}
    </div>

    <div class="form-group">
 	<label>{{ city.label }}</label>
	<input class="form-control" name="{{ city.handle }}" value="{{ city.value }}" />
	{{ city.renderErrors() }}
    </div>

    <div class="form-group">
    <label>{{ state.label }}</label>
	<select class="custom-select" name="{{state.handle}}" id="{{state.handle}}">
        {% for option in state.options %}        
            <option value="{{option.value}}">{{option.label}}</option>
        {% endfor %}
    </select>
	{{ city.renderErrors() }}
    </div>

    <div class="form-group text-center">
        {{ form.get('rMmkJ3VAV').render({
              class: "btn btn-lg btn-green",
        }) }}
    </div>
    
        {# LOGO #}
    <img class="formLogo img-fluid" src="/assets/logos/white-logo.png" alt="">
    </div>
    </div>
    
   
{% endif %}        
</div>
</div>

{# PAGE 2 #}
{% if form.currentPage.index == 1 %}        
     <div class="dark-form form-style utility-site-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 pt-5 pb-5">

            {# PROGRESS BAR #}
            <div class="form-group text-center">
                 <ul class="progress-indicator">
                    <li class="completed">
                        <span class="bubble"></span>
                        <span class="li-text">Step 1. <br><small>(complete)</small></span>
                    </li>
                    <li class="active">
                        <span class="bubble"></span>
                        <span class="li-text">Step 2.</span>
                    </li>
                    <li class="">
                        <span class="bubble"></span>
                        <span class="li-text">Step 3.</span>
                    </li>
                    <li>
                        <span class="bubble"></span>
                        <span class="li-text">Step 4.</span>
                    </li>           
                </ul>
            </div>
        </div>
        </div>
        </div>
        
     <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-6">

    <div class="form-group">
    {{ form.get('QrnEGrVMn').render }}
    </div>


    <div class="form-group">
 	<label>{{ cdla.label }}</label>
     <br>
	{% for option in cdla.options %}
        <input type="radio" name="cdla" value="{{option.value}}">&nbsp; <span class="text-white">{{option.label}}</span> &nbsp;
    {% endfor %}
	{{ cdla.renderErrors() }}
    </div>

    <div class="form-group">
  <label>{{ cdlaYears.label }}</label>
	<select class="custom-select" name="{{cdlaYears.handle}}" id="{{cdlaYears.handle}}">
        {% for option in cdlaYears.options %}        
            <option value="{{option.value}}">&nbsp; {{option.label}}</option>
        {% endfor %}
    </select>
	{{ cdlaYears.renderErrors() }}
    </div>


	 <div class="form-group text-center">
        {{ form.get('jRpqWm1zb').render({
              class: "btn btn-lg bt-green mx-2",
        }) }}
    </div>

    {# LOGO #}
    <img class="formLogo mt-5 p-5 img-fluid" src="/assets/logos/white-logo.png" alt="">

    </div>
    </div>


    </div>
    </div>    
{% endif %}


{# PAGE 3 #}
{% if form.currentPage.index == 2 %}
    <div class="blue-form form-style utility-site-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 pt-5 pb-5">

            {# PROGRESS BAR #}
            <div class="form-group text-center">
                 <ul class="progress-indicator">
                    <li class="completed">
                        <span class="bubble"></span>
                        <span class="li-text">Step 1. <br><small>(complete)</small></span>
                    </li>
                    <li class="completed">
                        <span class="bubble"></span>
                        <span class="li-text">Step 2.</span>
                    </li>
                    <li class="active">
                        <span class="bubble"></span>
                        <span class="li-text">Step 3.</span>
                    </li>
                    <li>
                        <span class="bubble"></span>
                        <span class="li-text">Step 4.</span>
                    </li>           
                </ul>
            </div>
          </div>
        </div>
        </div>

       <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-6">
    
    <div class="form-group">
    {{ form.get('Rq5E3qvzV').render }}
    </div>
    

    <div class="form-group">
    <label>{{ driveRecord.label }}</label> <br> 
	{% for option in driveRecord.options %}
        <input type="radio" name="driveRecord" value="{{option.value}}"> &nbsp;<span class="text-white">{{option.label}}</span> &nbsp;
    {% endfor %}
	{{ driveRecord.renderErrors() }}
    </div>

    <div class="form-group">
    <label>{{ terminal.label }}</label>
	<select class="custom-select" name="{{terminal.handle}}" id="{{terminal.handle}}">
        {% for option in terminal.options %}        
            <option value="{{option.value}}">{{option.label}}</option>
        {% endfor %}
    </select>
	{{ terminal.renderErrors() }}
    </div>

    <div class="form-group text-center">
        {{ form.get('vG8AKJMRD').render({
              class: "btn btn-lg btn-green mx-2",
        }) }}
    </div>
    {# LOGO #}
    <img class="formLogo mt-5 p-5 img-fluid" src="/assets/logos/white-logo.png" alt="">

    </div>
    </div>
    </div>
    </div>

{% endif %}

{# PAGE 4 #}
{% if form.currentPage.index == 3 %}
<div class="dark-form form-style utility-site-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 pt-5 pb-5">

               {# PROGRESS BAR #}
            <div class="form-group text-center">
                 <ul class="progress-indicator">
                    <li class="completed">
                        <span class="bubble"></span>
                        <span class="li-text">Step 1. <br></span>
                    </li>
                    <li class="completed">
                        <span class="bubble"></span>
                        <span class="li-text">Step 2.</span>
                    </li>
                    <li class="completed">
                        <span class="bubble"></span>
                        <span class="li-text">Step 3.</span>
                    </li>
                    <li class="active">
                        <span class="bubble"></span>
                        <span class="li-text">Step 4.</span>
                    </li>           
                </ul>
            </div>
        </div>
        </div>
        </div>
     <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-6">

    <div class="form-group">
    {{ form.get('QrnEGmNE8').render }}
    </div>
                

    <div class="form-group">
    <label for="{{consent}}">{{consent.label}}</label>
    <input type="checkbox" name="{{consent}}" value="{{consent.value}}">
    </div>

      <div class="form-group text-center">
        {{ form.get('8RGzYqDm6').render({
              class: "btn btn-lg btn-green mx-2",
        }) }}
    </div>
    <img class="formLogo mt-5 p-5 img-fluid" src="/assets/logos/white-logo.png" alt="">
</div>
</div>
</div>
</div>
{% endif %}    

            </div>
        </div>
</div>
</div>

{{ form.renderClosingTag }}

{# bottom #}
{# {% include 'partials/bottom' %} #}
{# {% include 'mobile/bottomM' %} #}


{% include 'partials/footer' %}